body {
  background-color: #1F191F;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  color: #fff;
}

h1 {
  display: inline;
  font-size: 3em;
  color: #fff;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a {
  font-size: 3em;
  color: #fff;
  text-decoration: none;
  display: inline-table;
}

.middle-text {
  width: 800px;
  padding-left: calc(50% - 400px);
  padding-right: auto;
  margin-top: 200px;
}

.tpc1 {
  border-bottom: 0.05em solid red;
}
.tpc1:hover {
  color: red;
  transition-duration: 0.2s;
}
.tpc2 {
  border-bottom: 0.05em solid blue;
}
.tpc2:hover {
  color: blue;
  transition-duration: 0.2s;
}
.tpc3 {
  border-bottom: 0.05em solid green;
}
.tpc3:hover {
  color: green;
  transition-duration: 0.2s;
}
.tpc4 {
  border-bottom: 0.05em solid yellow;
}
.tpc4:hover {
  color: yellow;
  transition-duration: 0.2s;
}
a:after {
  content: "";
  display: table-caption;
  caption-side: bottom;
  position: relative;
  margin-top:-0.15em;
}


.background-topic {
  display: flex;
  margin-top: 100px;
  width: 203px;
}

.background-square {
  display: flex;
width: 100px;
height: 100px;
border: solid gray 1px;
}
